*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #ffbd39;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom:auto ;
}
.card{
    background-color: #ffbd39;
    margin-top: 100px;
    position: relative;  

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.error{
    z-index: 1;
    position: relative;
}

.error span{
    font-size: 90px;
    color: #150035;
    font-weight: 900;
    white-space: pre-line;
    line-height: 1;
    letter-spacing: 3px;
    text-shadow: 1px 7px 1px #fff;
}
.error p{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 1.3;
}

.img img{
    width: 570px;
}
a{
    width: 100px;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    border: none;
    background-color:#150035 ;
    color:#ffbd39 ;
    position: relative;
    text-decoration: none;;
   
}
a::after{
    content: '';
    width: 96px;
    height: 35px;
    border: 3px solid #fff;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: -1;
    
}